<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oven.mapper.oracle.OracleMapper">

    <select id="getUser" resultMap="userMap">
        select * from t_user
    </select>

    <resultMap id="userMap" type="com.oven.entity.User">
        <id column="dbid" property="id"/>
        <result column="uname" property="uname"/>
        <result column="pwd" property="pwd"/>
        <result column="age" property="age"/>
    </resultMap>

</mapper>